= wrap_layout :scaffold do
  %header.banner(role='banner')
    %h1.banner__title= link_to 'The Mixin', '/'

  %main#main(role='main')= yield

  %footer(role='contentinfo' class='contentinfo')

    %h2 Code of Conduct

    %p
      The Mixin adheres to the
      = succeed '.' do
        = link_to 'Sass Community Guidelines', 'http://sass-lang.com/community-guidelines'
      We take them very seriously and they will be enforced at the event.

    %p
      If you feel like the Sass Community Guidelines have been breached,
      please notify
      = link_to 'twitter', 'http://twitter.com/jina'
      right away.

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-19273722-4', 'auto');
    ga('send', 'pageview');
